.game {
    max-width: 700px;
    margin: 0 auto;
}
.game__btn{
    background-color: black;
    color: white;
}

.game__output{
    margin-top: 20px;
    display: none;
}

.game__try{
    background: wheat;
    padding: 10px;
    margin: 10px 0;
}
.game__try-number{
    color: grey;
}
.game__guess{
    font-size: 20px;
}